#container{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border: none;
    background-color: rgb(59, 90, 230);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.30s;
}

button:hover{
    background-color: rgb(59, 147, 230);
}

button:active{
    background-color: rgb(59, 230, 179);
}

input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}

#diceResult{
    margin: 25px;
}

#diceImages img{
    width: 150px;
    margin: 5px;
}